n8n/workflows/workflows.json
[{"updatedAt":"2026-03-21T06:26:01.393Z","createdAt":"2026-03-21T06:26:01.393Z","id":"7V23MgGFRXQITI92","name":"Meal Planner V1 Stable","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://10.10.1.35:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"qwen2.5:3b\",\n  \"prompt\": \"You are generating meals for a structured weekly meal-planning workflow.\\n\\nProtein: {{$json.protein}}\\nChosen type: {{$json.chosen_type}}\\n\\nTask:\\nCreate exactly 2 simple family dinners using only the chosen type.\\n\\nHard rules:\\n- Use ONLY this chosen type: {{$json.chosen_type}}\\n- Do NOT use any other protein\\n- Do NOT mention other proteins\\n\\n- Base preparation MUST be a plain batch-cooked form of the protein\\n- Base preparation MUST closely match the chosen type wording\\n- Base preparation MUST NOT include cooking methods or serving styles\\n- Base preparation examples: 'shredded chicken', 'cooked ground beef', 'cooked green lentils'\\n- Do NOT use words that do not make sense for the chosen type\\n- Do NOT use words like grilled, fried, baked, roasted, sautéed, stir-fried, soup, omelette, skewers, stuffed\\n\\n- Meals must be assembled or reheated only\\n- Meals must NOT require any new cooking\\n- Meals should be simple formats like bowls, wraps, tacos, salads, sandwiches, pita pockets\\n- Meal names must NOT contain grilled, fried, baked, roasted, sautéed, stir-fried, soup, omelette, skewers, stuffed\\n\\n- Both meals must use the SAME base preparation\\n- Both meals must clearly use {{$json.chosen_type}}\\n\\n- No recipes\\n- No ingredient lists\\n- Output must be exactly 3 lines\\n- Output must contain no extra text\\n\\nOutput exactly in this format:\\nBase preparation: <simple base using {{$json.chosen_type}}>\\nMeal 1: <assembled meal name>\\nMeal 2: <assembled meal name>\",\n  \"stream\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1328,16],"id":"871a5cdb-d563-49e6-acb1-680efa00d6e2","name":"HTTP Request","alwaysOutputData":false},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1536,-80],"id":"e1693dd8-80da-4944-b401-5ed4864cdc24","name":"Merge"},{"parameters":{"httpMethod":"POST","path":"144313c2-a829-4988-87bc-b738af61579f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[352,-80],"id":"155bc535-ec86-44bc-bc05-aa78637f60b4","name":"Webhook","webhookId":"144313c2-a829-4988-87bc-b738af61579f"},{"parameters":{"jsCode":"const proteins = $json.proteins;\n\n// V1 master list\nconst masterList = {\n  meat: [\"Chicken\", \"Beef\", \"Pork\", \"Turkey\"],\n  non_meat: [\"Tofu\", \"Lentils\", \"Black Beans\", \"Chickpeas\"]\n};\n\n// Type mapping\nconst proteinMapping = {\n  Chicken: [\n    \"Shredded chicken\",\n    \"Grilled chicken breast\",\n    \"Baked chicken breast\",\n    \"Baked chicken thighs\",\n    \"Grilled chicken thighs\",\n    \"Pan-seared chicken breast\",\n    \"Diced chicken breast\",\n    \"Chicken cutlets\",\n    \"Rotisserie chicken\",\n    \"BBQ shredded chicken\"\n  ],\n  Beef: [\n    \"Ground beef\",\n    \"Shredded beef\",\n    \"Sliced steak\",\n    \"Grilled steak\",\n    \"Pan-seared steak\",\n    \"Beef strips\",\n    \"Beef stir-fry slices\",\n    \"Beef meatballs\",\n    \"Beef roast\",\n    \"Braised beef\",\n    \"Beef sausage\"\n  ],\n  Pork: [\n    \"Pulled pork\",\n    \"Pork chops\",\n    \"Grilled pork chops\",\n    \"Pan-seared pork chops\",\n    \"Pork tenderloin\",\n    \"Roasted pork tenderloin\",\n    \"Ground pork\",\n    \"Pork sausage\",\n    \"Pork meatballs\",\n    \"Braised pork\",\n    \"Sliced pork loin\",\n    \"Ribs\",\n  ],\n  Turkey: [\n    \"Ground turkey\",\n    \"Shredded turkey\",\n    \"Roasted turkey breast\",\n    \"Turkey cutlets\",\n    \"Sliced turkey breast\",\n    \"Turkey meatballs\",\n    \"Turkey sausage\"\n  ],\n  Tofu: [\n    \"Crispy tofu\",\n    \"Sauteed tofu\",\n    \"Baked tofu\",\n    \"Air-fried tofu\",\n    \"Grilled tofu\",\n    \"Tofu cubes\",\n    \"Crumbled tofu\",\n  ],\n  Lentils:  [\n    \"Cooked lentils\",\n    \"Seasoned lentils\",\n    \"Lentil stew\",\n    \"Lentil salad\",\n    \"Mashed lentils\"\n  ],\n  \"Black Beans\": [\n    \"Seasoned black beans\",\n    \"Cooked black beans\",\n    \"Black bean mash\",\n    \"Black bean salad\",\n    \"Spiced black beans\"\n  ],\n  Chickpeas: [\n    \"Roasted chickpeas\",\n    \"Mashed chickpeas\",\n    \"Seasoned chickpeas\",\n    \"Chickpea salad\",\n    \"Crispy chickpeas\",\n    \"Blended chickpeas\"\n  ]\n};\n\nif (!proteins) {\n  throw new Error(\"Missing 'proteins' input\");\n}\n\nif (!Array.isArray(proteins)) {\n  throw new Error(\"'proteins' must be an array\");\n}\n\nif (proteins.length !== 3) {\n  throw new Error(\"You must provide exactly 3 proteins\");\n}\n\nconst uniqueProteins = new Set(proteins);\nif (uniqueProteins.size !== 3) {\n  throw new Error(\"Duplicate proteins are not allowed\");\n}\n\nlet meatCount = 0;\nlet nonMeatCount = 0;\n\nfor (const protein of proteins) {\n  if (masterList.meat.includes(protein)) {\n    meatCount++;\n  } else if (masterList.non_meat.includes(protein)) {\n    nonMeatCount++;\n  } else {\n    throw new Error(`Invalid protein for this workflow: ${protein}`);\n  }\n\n  if (!proteinMapping[protein] || proteinMapping[protein].length === 0) {\n    throw new Error(`No mapping found for protein: ${protein}`);\n  }\n}\n\nif (meatCount !== 2 || nonMeatCount !== 1) {\n  throw new Error(\"Input must contain exactly 2 meat proteins and 1 non-meat protein\");\n}\n\nconst selected = proteins.map((protein) => {\n  const category = masterList.meat.includes(protein) ? \"meat\" : \"non_meat\";\n  const chosenType = proteinMapping[protein][0];\n\n  return {\n    protein,\n    category,\n    chosen_type: chosenType\n  };\n});\n\nreturn [\n  {\n    json: {\n      input_proteins: proteins,\n      selected\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-80],"id":"4c2f325a-fe35-47f9-b905-97a86d821a0c","name":"Validation/Mapping Guide"},{"parameters":{"jsCode":"const selected = $json.selected;\n\nif (!selected || !Array.isArray(selected)) {\n  throw new Error(\"Missing or invalid 'selected' array\");\n}\n\nreturn selected.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-80],"id":"5df4f930-24e2-4bbf-b7c7-001e21ca2e20","name":"Split Code"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const response = $json.response;\n\nif (!response) {\n  throw new Error(\"Missing AI response\");\n}\n\nconst lines = response\n  .split(\"\\n\")\n  .map(l => l.trim())\n  .filter(l => l.length > 0);\n\nif (lines.length !== 3) {\n  throw new Error(`Invalid format. Expected 3 lines, got ${lines.length}`);\n}\n\nconst base = lines[0].replace(/^Base preparation:\\s*/i, \"\");\nconst meal1 = lines[1].replace(/^Meal 1:\\s*/i, \"\");\nconst meal2 = lines[2].replace(/^Meal 2:\\s*/i, \"\");\n\nreturn {\n  json: {\n    protein: $json.protein,\n    category: $json.category,\n    chosen_type: $json.chosen_type,\n    base_preparation: base,\n    meal_1: meal1,\n    meal_2: meal2\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,-80],"id":"087d3523-5520-48cf-900e-5a468d57e41c","name":"Parser"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $json;\n\nconst missing = [];\n\nif (!item.protein) missing.push(\"protein\");\nif (!item.chosen_type) missing.push(\"chosen_type\");\nif (!item.base_preparation) missing.push(\"base_preparation\");\nif (!item.meal_1) missing.push(\"meal_1\");\nif (!item.meal_2) missing.push(\"meal_2\");\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(\", \")} | Item: ${JSON.stringify(item)}`);\n}\n\nconst protein = item.protein.toLowerCase();\nconst chosenType = item.chosen_type.toLowerCase();\nconst base = item.base_preparation.toLowerCase();\nconst combined = `${base} ${item.meal_1} ${item.meal_2}`.toLowerCase();\nconst forbiddenCooking = [\n  /grilled/i,\n  /fried/i,\n  /baked/i,\n  /roasted/i,\n  /stir/i,\n  /sauté/i,\n  /seared/i\n];\n\n// Only check meals, NOT base_preparation\nconst mealsToCheck = [item.meal_1, item.meal_2];\n\nfor (const meal of mealsToCheck) {\n  for (const pattern of forbiddenCooking) {\n    if (pattern.test(meal)) {\n      throw new Error(`Cooking method detected in meal: ${meal}`);\n    }\n  }\n}\n\nif (protein === \"chicken\" && /beef|lentil/.test(combined)) {\n  throw new Error(\"Chicken output contains another protein\");\n}\nif (protein === \"beef\" && /chicken|lentil/.test(combined)) {\n  throw new Error(\"Beef output contains another protein\");\n}\nif (protein === \"lentils\" && /chicken|beef|pork|turkey/.test(combined)) {\n  throw new Error(\"Lentil output contains another protein\");\n}\n\nif (protein === \"lentils\" && /shredded/.test(base)) {\n  throw new Error(\"Lentils cannot be shredded\");\n}\n\nconst chosenWords = chosenType.split(\" \").filter(w => w.length > 2);\nconst baseMatchesChosen = chosenWords.some(word => base.includes(word));\n\nif (!baseMatchesChosen) {\n  throw new Error(\"Base preparation does not match chosen type\");\n}\n\nreturn { json: item };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,-80],"id":"9a06f9f1-e1ca-47b8-a208-568d02a45592","name":"Validator"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      weekly_plan: $input.all().map(item => item.json)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,-80],"id":"45d4fe0f-64d6-4eba-af51-b3b4ccc42ab6","name":"Final Combiner"},{"parameters":{"jsCode":"const body = $json.body ?? $json;\n\nconst meat1 = body.meat_1;\nconst meat2 = body.meat_2;\nconst nonMeat1 = body.non_meat_1;\n\nreturn [\n  {\n    json: {\n      meat_1: meat1,\n      meat_2: meat2,\n      non_meat_1: nonMeat1,\n      proteins: [meat1, meat2, nonMeat1]\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,-80],"id":"ae750ca9-dc18-4e1c-a1e8-98c829e1fdf1","name":"Normalize input"}],"connections":{"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Parser","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Validation/Mapping Guide":{"main":[[{"node":"Split Code","type":"main","index":0}]]},"Split Code":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Parser":{"main":[[{"node":"Validator","type":"main","index":0}]]},"Validator":{"main":[[{"node":"Final Combiner","type":"main","index":0}]]},"Normalize input":{"main":[[{"node":"Validation/Mapping Guide","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"c2ad3acf-be30-419e-af29-eab1eb60167d","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-21T06:26:01.393Z","createdAt":"2026-03-21T06:26:01.393Z","role":"workflow:owner","workflowId":"7V23MgGFRXQITI92","projectId":"NaMaM7GEBfrA8e79","project":{"updatedAt":"2026-03-21T03:55:13.717Z","createdAt":"2026-03-20T13:25:31.057Z","id":"NaMaM7GEBfrA8e79","name":"Eric Lopez <ericlopez07@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"61178320-468a-4c1d-ade4-c24772ec4169"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-22T17:00:07.600Z","createdAt":"2026-03-22T17:00:07.600Z","id":"ZhmJGska4Hp9Bsm3","name":"Generate Recipe","description":null,"active":false,"isArchived":false,"nodes":[],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"c4c25f74-00ed-4d5b-9725-b3a5d3a3d5e8","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-22T17:00:07.600Z","createdAt":"2026-03-22T17:00:07.600Z","role":"workflow:owner","workflowId":"ZhmJGska4Hp9Bsm3","projectId":"NaMaM7GEBfrA8e79","project":{"updatedAt":"2026-03-21T03:55:13.717Z","createdAt":"2026-03-20T13:25:31.057Z","id":"NaMaM7GEBfrA8e79","name":"Eric Lopez <ericlopez07@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"61178320-468a-4c1d-ade4-c24772ec4169"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-24T12:47:19.620Z","createdAt":"2026-03-21T03:56:53.758Z","id":"GsI79DuAraz5GXYR","name":"Meal Planner V1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1728,-752],"id":"2a21df17-3190-4300-b3b7-d1f955464476","name":"Merge"},{"parameters":{"httpMethod":"POST","path":"meal-plan","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[592,-736],"id":"4ddcafd5-0a1c-42af-b4b1-d424a2b921e6","name":"Webhook","webhookId":"9f5c3ed2-dca5-4063-bf38-8e0ddc439134"},{"parameters":{"jsCode":"const proteins = $json.proteins;\nconst servings = $json.servings;\n\n// V1 master list\nconst masterList = {\n  meat: [\"Chicken\", \"Beef\", \"Pork\", \"Turkey\"],\n  non_meat: [\"Tofu\", \"Lentils\", \"Black Beans\", \"Chickpeas\"]\n};\n\n// Type mapping\nconst proteinMapping = {\n  Chicken: [\n    \"Shredded chicken\",\n    \"Grilled chicken breast\",\n    \"Baked chicken breast\",\n    \"Baked chicken thighs\",\n    \"Grilled chicken thighs\",\n    \"Pan-seared chicken breast\",\n    \"Diced chicken breast\",\n    \"Chicken cutlets\",\n    \"Rotisserie chicken\",\n    \"BBQ shredded chicken\"\n  ],\n  Beef: [\n    \"Ground beef\",\n    \"Shredded beef\",\n    \"Sliced steak\",\n    \"Grilled steak\",\n    \"Pan-seared steak\",\n    \"Beef strips\",\n    \"Beef stir-fry slices\",\n    \"Beef meatballs\",\n    \"Beef roast\",\n    \"Braised beef\",\n    \"Beef sausage\"\n  ],\n  Pork: [\n    \"Pulled pork\",\n    \"Pork chops\",\n    \"Grilled pork chops\",\n    \"Pan-seared pork chops\",\n    \"Pork tenderloin\",\n    \"Roasted pork tenderloin\",\n    \"Ground pork\",\n    \"Pork sausage\",\n    \"Pork meatballs\",\n    \"Braised pork\",\n    \"Sliced pork loin\",\n    \"Ribs\",\n  ],\n  Turkey: [\n    \"Ground turkey\",\n    \"Shredded turkey\",\n    \"Roasted turkey breast\",\n    \"Turkey cutlets\",\n    \"Sliced turkey breast\",\n    \"Turkey meatballs\",\n    \"Turkey sausage\"\n  ],\n  Tofu: [\n    \"Crispy tofu\",\n    \"Sauteed tofu\",\n    \"Baked tofu\",\n    \"Air-fried tofu\",\n    \"Grilled tofu\",\n    \"Tofu cubes\",\n    \"Crumbled tofu\",\n  ],\n  Lentils:  [\n    \"Cooked lentils\",\n    \"Seasoned lentils\",\n    \"Lentil stew\",\n    \"Lentil salad\",\n    \"Mashed lentils\"\n  ],\n  \"Black Beans\": [\n    \"Seasoned black beans\",\n    \"Cooked black beans\",\n    \"Black bean mash\",\n    \"Black bean salad\",\n    \"Spiced black beans\"\n  ],\n  Chickpeas: [\n    \"Roasted chickpeas\",\n    \"Mashed chickpeas\",\n    \"Seasoned chickpeas\",\n    \"Chickpea salad\",\n    \"Crispy chickpeas\",\n    \"Blended chickpeas\"\n  ]\n};\n\nif (!proteins) {\n  throw new Error(\"Missing 'proteins' input\");\n}\n\nif (!Array.isArray(proteins)) {\n  throw new Error(\"'proteins' must be an array\");\n}\n\nif (proteins.length !== 3) {\n  throw new Error(\"You must provide exactly 3 proteins\");\n}\n\nconst uniqueProteins = new Set(proteins);\nif (uniqueProteins.size !== 3) {\n  throw new Error(\"Duplicate proteins are not allowed\");\n}\n\nlet meatCount = 0;\nlet nonMeatCount = 0;\n\nfor (const protein of proteins) {\n  if (masterList.meat.includes(protein)) {\n    meatCount++;\n  } else if (masterList.non_meat.includes(protein)) {\n    nonMeatCount++;\n  } else {\n    throw new Error(`Invalid protein for this workflow: ${protein}`);\n  }\n\n  if (!proteinMapping[protein] || proteinMapping[protein].length === 0) {\n    throw new Error(`No mapping found for protein: ${protein}`);\n  }\n}\n\nif (meatCount !== 2 || nonMeatCount !== 1) {\n  throw new Error(\"Input must contain exactly 2 meat proteins and 1 non-meat protein\");\n}\n\nconst selected = proteins.map((protein) => {\n  const category = masterList.meat.includes(protein) ? \"meat\" : \"non_meat\";\n  const chosenType = proteinMapping[protein][0];\n\n  return {\n    protein,\n    category,\n    chosen_type: chosenType,\n    servings: $json.servings\n  };\n});\n\nreturn [\n  {\n    json: {\n      input_proteins: proteins,\n      selected\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,-736],"id":"6639e03d-a481-4571-aca7-fe54048d9c2d","name":"Validation/Mapping Guide"},{"parameters":{"jsCode":"const selected = $json.selected;\n\nif (!selected || !Array.isArray(selected)) {\n  throw new Error(\"Missing or invalid 'selected' array\");\n}\n\nreturn selected.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,-768],"id":"ccb90d6b-4c0d-410a-90c8-2aa1a7000a92","name":"Split Code"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const response = $json.response;\n\nif (!response) {\n  throw new Error(\"Missing AI response\");\n}\n\nconst lines = response\n  .split(\"\\n\")\n  .map(l => l.trim())\n  .filter(l => l.length > 0);\n\nif (lines.length !== 3) {\n  throw new Error(`Invalid format. Expected 3 lines, got ${lines.length}`);\n}\n\nconst base = lines[0].replace(/^Base preparation:\\s*/i, \"\");\nconst meal1 = lines[1].replace(/^Meal 1:\\s*/i, \"\");\nconst meal2 = lines[2].replace(/^Meal 2:\\s*/i, \"\");\n\nreturn {\n  json: {\n    protein: $json.protein,\n    category: $json.category,\n    chosen_type: $json.chosen_type,\n    base_preparation: base,\n    meal_1: meal1,\n    meal_2: meal2,\n    servings: $json.servings\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,-736],"id":"c26e7e2b-2893-47ec-af99-e674ace5063d","name":"Parser"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $json;\n\nconst missing = [];\n\nif (!item.protein) missing.push(\"protein\");\nif (!item.chosen_type) missing.push(\"chosen_type\");\nif (!item.base_preparation) missing.push(\"base_preparation\");\nif (!item.meal_1) missing.push(\"meal_1\");\nif (!item.meal_2) missing.push(\"meal_2\");\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(\", \")} | Item: ${JSON.stringify(item)}`);\n}\n\nconst protein = item.protein.toLowerCase();\nconst chosenType = item.chosen_type.toLowerCase();\nconst base = item.base_preparation.toLowerCase();\nconst combined = `${base} ${item.meal_1} ${item.meal_2}`.toLowerCase();\nconst forbiddenCooking = [\n  /grilled/i,\n  /fried/i,\n  /baked/i,\n  /roasted/i,\n  /stir/i,\n  /sauté/i,\n  /seared/i\n];\n\n// Only check meals, NOT base_preparation\nconst mealsToCheck = [item.meal_1, item.meal_2];\n\nfor (const meal of mealsToCheck) {\n  for (const pattern of forbiddenCooking) {\n    if (pattern.test(meal)) {\n      throw new Error(`Cooking method detected in meal: ${meal}`);\n    }\n  }\n}\n\nif (protein === \"chicken\" && /beef|lentil/.test(combined)) {\n  throw new Error(\"Chicken output contains another protein\");\n}\nif (protein === \"beef\" && /chicken|lentil/.test(combined)) {\n  throw new Error(\"Beef output contains another protein\");\n}\nif (protein === \"lentils\" && /chicken|beef|pork|turkey/.test(combined)) {\n  throw new Error(\"Lentil output contains another protein\");\n}\n\nif (protein === \"lentils\" && /shredded/.test(base)) {\n  throw new Error(\"Lentils cannot be shredded\");\n}\n\nconst chosenWords = chosenType.split(\" \").filter(w => w.length > 2);\nconst baseMatchesChosen = chosenWords.some(word => base.includes(word));\n\nif (!baseMatchesChosen) {\n  throw new Error(\"Base preparation does not match chosen type\");\n}\n\nreturn { json: item };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,-736],"id":"b0b64078-18b9-4f6c-b171-2e9f372a71ed","name":"Validator"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      weekly_plan: $input.all().map(item => item.json)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,-736],"id":"db2e6e3e-22e9-4291-bfe8-14e428d8a299","name":"Final Combiner"},{"parameters":{"jsCode":"const body = $json.body ?? $json;\n\nconst meat1 = body.meat_1;\nconst meat2 = body.meat_2;\nconst nonMeat1 = body.non_meat_1;\nconst servings = body.servings;\n\nreturn [\n  {\n    json: {\n      meat_1: meat1,\n      meat_2: meat2,\n      non_meat_1: nonMeat1,\n      proteins: [meat1, meat2, nonMeat1],\n      servings\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,-736],"id":"d3b18426-12d2-4278-8e36-72974d8787d7","name":"Normalize input"},{"parameters":{"jsCode":"const items = $input.all();\nconst weeklyPlan = items[0]?.json?.weekly_plan;\n\nif (!weeklyPlan || !Array.isArray(weeklyPlan)) {\n  throw new Error(\"Missing weekly_plan array\");\n}\n\nlet output = \"Weekly Meal Plan\\n\\n\";\n\nweeklyPlan.forEach((item, index) => {\n  output += `${index + 1}. ${item.protein} (${item.category === \"non_meat\" ? \"Non-meat\" : \"Meat\"})\\n`;\n  output += `Chosen type: ${item.chosen_type}\\n`;\n  output += `Base: ${item.base_preparation}\\n`;\n  output += `Meals:\\n`;\n  output += `- ${item.meal_1}\\n`;\n\n  if (item.meal_2) {\n    output += `- ${item.meal_2}\\n`;\n  }\n\n  if (index < weeklyPlan.length - 1) {\n    output += `\\n`;\n  }\n});\n\nreturn [\n  {\n    json: {\n      weekly_plan: weeklyPlan,\n      formatted_plan: output\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,-832],"id":"d35d07fb-3905-43c5-a838-6759722460a3","name":"Friendly Formatter"},{"parameters":{"jsCode":"const input = $json;\n\nconst weekId = input.week_id || new Date().toISOString().slice(0, 10);\nconst weeklyPlan = Array.isArray(input.weekly_plan) ? input.weekly_plan : [];\n\nconst output = [];\n\nfor (const item of weeklyPlan) {\n  if (item.meal_1) {\n    output.push({\n      json: {\n        week_id: weekId,\n        servings: item.servings,\n        protein: item.protein,\n        category: item.category,\n        chosen_type: item.chosen_type,\n        base_preparation: item.base_preparation,\n        meal_name: item.meal_1\n      }\n    });\n  }\n\n  if (item.meal_2) {\n    output.push({\n      json: {\n        week_id: weekId,\n        servings: item.servings,\n        protein: item.protein,\n        category: item.category,\n        chosen_type: item.chosen_type,\n        base_preparation: item.base_preparation,\n        meal_name: item.meal_2\n      }\n    });\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,-640],"id":"32699b44-9eda-4407-b682-40cc46a6c660","name":"Expand Meals for AI Chef"},{"parameters":{"method":"POST","url":"http://10.10.1.35:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  model: $json.model,\n  prompt: $json.prompt,\n  stream: false,\n  options: {\n    temperature: 0.2,\n    num_predict: 120\n  }\n} }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3056,-640],"id":"9c1ea448-4ba4-4b6e-85a9-2e7b113de1f5","name":"HTTP Request1 - AI Chef"},{"parameters":{"jsCode":"const protein = $json.protein;\nconst mealName = $json.meal_name;\nconst servings = $json.servings ?? 4;\nconst weekId = $json.week_id ?? new Date().toISOString().slice(0, 10);\nconst category = $json.category ?? \"\";\nconst chosenType = $json.chosen_type ?? \"\";\nconst basePreparation = $json.base_preparation ?? \"\";\n\nconst prompt = `Return ONLY valid JSON.\n\nCreate a recipe header from this input:\n\n{\n  \"protein\": \"${protein}\",\n  \"meal_name\": \"${mealName}\",\n  \"servings\": ${servings}\n}\n\nRules:\n- meal_name must match exactly\n- servings must match exactly\n- recipe_title should be short and natural\n- return only JSON\n\nReturn this exact shape:\n{\n  \"recipe_title\": \"string\",\n  \"meal_name\": \"string\",\n  \"servings\": number\n}`;\n\nreturn [\n  {\n    json: {\n      week_id: weekId,\n      protein,\n      category,\n      chosen_type: chosenType,\n      base_preparation: basePreparation,\n      meal_name: mealName,\n      servings,\n\n      model: \"qwen2.5:3b\",\n      prompt,\n      stream: false,\n      options: {\n        temperature: 0.2,\n        num_predict: 80\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,-640],"id":"0ba5ac59-0a67-4918-9dc6-d94e92d1f507","name":"Build AI Chef Request"},{"parameters":{"jsCode":"const raw = $json.response;\n\ntry {\n  const parsed = JSON.parse(raw);\n  return [\n    {\n      json: {\n        valid_json: true,\n        recipe: parsed,\n        raw_response: raw,\n\n        week_id: $json.week_id,\n        protein: $json.protein,\n        category: $json.category,\n        chosen_type: $json.chosen_type,\n        base_preparation: $json.base_preparation,\n        meal_name: $json.meal_name,\n        servings: $json.servings,\n\n        retry_count: $json.retry_count ?? 0,\n        max_retries: $json.max_retries ?? 3\n      }\n    }\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        valid_json: false,\n        parse_error: true,\n        error: error.message,\n        raw_response: raw,\n\n        week_id: $json.week_id,\n        protein: $json.protein,\n        category: $json.category,\n        chosen_type: $json.chosen_type,\n        base_preparation: $json.base_preparation,\n        meal_name: $json.meal_name,\n        servings: $json.servings,\n\n        retry_count: $json.retry_count ?? 0,\n        max_retries: $json.max_retries ?? 3,\n        errors: [`JSON parse failed: ${error.message}`]\n      }\n    }\n  ];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3280,-640],"id":"76d64076-6afe-4ecb-aa00-e7993b0f3983","name":"Parse AI Chef Response"},{"parameters":{"jsCode":"const recipe = $json.recipe;\nconst errors = [];\n\nif (!$json.valid_json) {\n  return [{ json: $json }];\n}\n\nconst inputMealName = recipe.meal_name;\nconst inputServings = Number(recipe.servings);\n\nif (!recipe || typeof recipe !== \"object\") {\n  errors.push(\"Recipe object missing\");\n}\n\nif (!recipe.recipe_title || typeof recipe.recipe_title !== \"string\") {\n  errors.push(\"recipe_title missing or invalid\");\n}\n\nif (!recipe.meal_name || typeof recipe.meal_name !== \"string\") {\n  errors.push(\"meal_name missing or invalid\");\n}\n\nif (recipe.meal_name !== inputMealName) {\n  errors.push(\"meal_name does not match input\");\n}\n\nif (typeof recipe.servings !== \"number\") {\n  errors.push(\"servings missing or invalid\");\n}\n\nif (Number(recipe.servings) !== inputServings) {\n  errors.push(\"servings does not match input\");\n}\n\nif (errors.length > 0) {\n  return [\n    {\n      json: {\n        valid: false,\n        errors,\n        recipe,\n\n        week_id: $json.week_id,\n        protein: $json.protein,\n        category: $json.category,\n        chosen_type: $json.chosen_type,\n        base_preparation: $json.base_preparation,\n        meal_name: inputMealName,\n        servings: inputServings,\n\n        retry_count: $json.retry_count ?? 0,\n        max_retries: $json.max_retries ?? 3\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      valid: true,\n      recipe,\n\n      week_id: $json.week_id,\n      protein: $json.protein,\n      category: $json.category,\n      chosen_type: $json.chosen_type,\n      base_preparation: $json.base_preparation,\n      meal_name: inputMealName,\n      servings: inputServings,\n\n      retry_count: $json.retry_count ?? 0,\n      max_retries: $json.max_retries ?? 3\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3504,-640],"id":"79689bc5-5267-4703-acc6-9f935eb69389","name":"Validate Small Recipe"},{"parameters":{"method":"POST","url":"http://10.10.1.35:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  model: \"qwen2.5:3b\",\n  prompt: `You are generating meals for a structured weekly meal-planning workflow.\n\nProtein: ${$json.protein}\nChosen type: ${$json.chosen_type}\n\nTask:\nCreate exactly 2 simple family dinners using only the chosen type.\n\nHard rules:\n- Use ONLY this chosen type: ${$json.chosen_type}\n- Do NOT use any other protein\n- Do NOT mention other proteins\n\n- Base preparation MUST be a plain batch-cooked form of the protein\n- Base preparation MUST closely match the chosen type wording\n- Base preparation MUST NOT include cooking methods or serving styles\n- Base preparation examples: 'shredded chicken', 'cooked ground beef', 'cooked green lentils'\n- Do NOT use words that do not make sense for the chosen type\n- Do NOT use words like grilled, fried, baked, roasted, sautéed, stir-fried, soup, omelette, skewers, stuffed\n\n- Meals must be assembled or reheated only\n- Meals must NOT require any new cooking\n- Meals should be simple formats like bowls, wraps, tacos, salads, sandwiches, pita pockets\n- Meal names must NOT contain grilled, fried, baked, roasted, sautéed, stir-fried, soup, omelette, skewers, stuffed\n\n- Both meals must use the SAME base preparation\n- Both meals must clearly use ${$json.chosen_type}\n\n- No recipes\n- No ingredient lists\n- Output must be exactly 3 lines\n- Output must contain no extra text\n\nOutput exactly in this format:\nBase preparation: <simple base using ${$json.chosen_type}>\nMeal 1: <assembled meal name>\nMeal 2: <assembled meal name>`,\n  stream: false\n} }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1488,-672],"id":"f16e6f64-4c5f-471d-9ab9-e4377aac8b60","name":"HTTP Request - AI Meal Planner","alwaysOutputData":false},{"parameters":{"jsCode":"const recipe = $json.recipe;\nconst protein = $json.protein;\nconst mealName = $json.meal_name;\nconst servings = $json.servings ?? 4;\nconst weekId = $json.week_id ?? new Date().toISOString().slice(0, 10);\nconst retryCount = $json.retry_count ?? 0;\nconst maxRetries = $json.max_retries ?? 3;\nconst validatorErrors = Array.isArray($json.errors) ? $json.errors : [];\n\nlet prompt;\n\nif (retryCount > 0 && validatorErrors.length > 0) {\n  prompt = `Return ONLY valid JSON.\n\nThe previous ingredient output failed validation.\n\nValidation errors:\n${validatorErrors.map(e => `- ${e}`).join(\"\\n\")}\n\nFix the ingredient list and return valid JSON only.\n\nRecipe input:\n{\n  \"recipe_title\": \"${recipe.recipe_title}\",\n  \"meal_name\": \"${mealName}\",\n  \"protein\": \"${protein}\",\n  \"servings\": ${servings}\n}\n\nReturn this exact shape:\n{\n  \"ingredients\": [\n    {\n      \"item\": \"string\",\n      \"amount\": number,\n      \"unit\": \"string\",\n      \"role\": \"string\"\n    }\n  ]\n}`;\n} else {\n  prompt = `Return ONLY valid JSON.\n\nCreate an elevated ingredient list for this recipe:\n\n{\n  \"recipe_title\": \"${recipe.recipe_title}\",\n  \"meal_name\": \"${mealName}\",\n  \"protein\": \"${protein}\",\n  \"servings\": ${servings}\n}\n\nGoals:\n- make the recipe feel flavorful and elevated\n- use common grocery store ingredients\n- keep the ingredient list practical\n- include the main protein\n- include at least one freshness or brightness element\n- include one flavorful supporting element when appropriate\n- keep names short and grocery-friendly\n- do not use examples in parentheses\n- return only JSON\n\nAllowed units:\n[\"lb\", \"oz\", \"cup\", \"tbsp\", \"tsp\", \"count\", \"bunch\"]\n\nAllowed roles:\n[\"protein\", \"base\", \"produce\", \"dairy\", \"pantry\", \"fresh\", \"brightness\", \"herb\", \"sauce\", \"texture\", \"spice\"]\n\nReturn this exact shape:\n{\n  \"ingredients\": [\n    {\n      \"item\": \"string\",\n      \"amount\": number,\n      \"unit\": \"string\",\n      \"role\": \"string\"\n    }\n  ]\n}`;\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      model: \"qwen2.5:3b\",\n      prompt,\n      stream: false,\n      options: {\n        temperature: 0.25,\n        num_predict: 180\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3712,-640],"id":"a2846a64-4f07-4bdb-9564-d0fb3e009962","name":"Build Ingredient List"},{"parameters":{"method":"POST","url":"http://10.10.1.35:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  model: $json.model,\n  prompt: $json.prompt,\n  stream: $json.stream,\n  options: $json.options\n} }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3088,-32],"id":"96f21efb-3586-4b0e-9e51-22b3daaac0c0","name":"HTTP Request - AI Chef Ingredients"},{"parameters":{"jsCode":"const raw = $json.response;\n\ntry {\n  const parsed = JSON.parse(raw);\n  return [\n    {\n      json: {\n        ...$json,\n        valid_json: true,\n        ingredient_result: parsed,\n        raw_response: raw\n      }\n    }\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        ...$json,\n        valid_json: false,\n        parse_error: true,\n        error: error.message,\n        raw_response: raw,\n        errors: [`JSON parse failed: ${error.message}`]\n      }\n    }\n  ];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3296,-32],"id":"f396e118-43bc-4914-8cb3-ab28292ad09d","name":"Parse ingredient Output"},{"parameters":{"language":"pythonNative","pythonCode":"const result = $json.ingredient_result;\nconst errors = [];\nconst warnings = [];\n\nconst allowedUnits = [\"lb\", \"oz\", \"cup\", \"tbsp\", \"tsp\", \"count\", \"bunch\"];\nconst allowedRoles = [\"protein\", \"base\", \"produce\", \"dairy\", \"pantry\", \"fresh\", \"brightness\", \"herb\", \"sauce\", \"texture\", \"spice\"];\n\nif (!$json.valid_json) {\n  return [{ json: $json }];\n}\n\nif (!result || typeof result !== \"object\") {\n  errors.push(\"ingredient_result missing\");\n}\n\nif (!Array.isArray(result.ingredients) || result.ingredients.length === 0) {\n  errors.push(\"ingredients missing or empty\");\n} else {\n  result.ingredients.forEach((item, idx) => {\n    if (!item.item || typeof item.item !== \"string\") {\n      errors.push(`ingredient ${idx} item missing or invalid`);\n    }\n    if (typeof item.amount !== \"number\") {\n      errors.push(`ingredient ${idx} amount missing or invalid`);\n    }\n    if (!item.unit || typeof item.unit !== \"string\") {\n      errors.push(`ingredient ${idx} unit missing or invalid`);\n    } else if (!allowedUnits.includes(item.unit)) {\n      errors.push(`ingredient ${idx} unit not allowed`);\n    }\n\n    if (!item.role || typeof item.role !== \"string\") {\n      errors.push(`ingredient ${idx} role missing or invalid`);\n    } else if (!allowedRoles.includes(item.role)) {\n      errors.push(`ingredient ${idx} role not allowed`);\n    }\n  });\n\n  const roles = result.ingredients.map(i => i.role);\n\n  if (!roles.includes(\"protein\")) {\n    errors.push(\"ingredients must include a protein role\");\n  }\n\n  if (!roles.includes(\"fresh\") && !roles.includes(\"brightness\") && !roles.includes(\"herb\")) {\n    warnings.push(\"ingredient list may lack freshness or brightness\");\n  }\n\n  if (result.ingredients.length < 4) {\n    warnings.push(\"ingredient list may be too small for an elevated recipe\");\n  }\n\n  if (result.ingredients.length > 12) {\n    warnings.push(\"ingredient list may be too long\");\n  }\n}\n\nif (errors.length > 0) {\n  return [\n    {\n      json: {\n        ...$json,\n        valid: false,\n        errors,\n        warnings\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n      valid: true,\n      warnings,\n      recipe: {\n        ...$json.recipe,\n        ingredients: result.ingredients\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3504,-32],"id":"1396b694-1d3e-42c1-8597-acc8d754fe06","name":"Validate Ingredient Output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"30f4fcf7-6bfb-4ecd-928f-82eb0c1014b3","leftValue":"valid","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"9be06400-a2a1-4b1f-afe9-08cf46999e17","leftValue":"valid","rightValue":"false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3712,-32],"id":"91dda683-0b3c-4c1c-8ac4-9c6672469084","name":"If","retryOnFail":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"15b945f2-48f2-412b-b7c8-0926639a8ef8","leftValue":null,"rightValue":null,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3920,64],"id":"f4a8b04d-bcd3-4af9-a467-fa477ad5378e","name":"If1"}],"connections":{"Merge":{"main":[[{"node":"Parser","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Validation/Mapping Guide":{"main":[[{"node":"Split Code","type":"main","index":0}]]},"Split Code":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"HTTP Request - AI Meal Planner","type":"main","index":0}]]},"Parser":{"main":[[{"node":"Validator","type":"main","index":0}]]},"Validator":{"main":[[{"node":"Final Combiner","type":"main","index":0}]]},"Normalize input":{"main":[[{"node":"Validation/Mapping Guide","type":"main","index":0}]]},"Final Combiner":{"main":[[{"node":"Friendly Formatter","type":"main","index":0},{"node":"Expand Meals for AI Chef","type":"main","index":0}]]},"Expand Meals for AI Chef":{"main":[[{"node":"Build AI Chef Request","type":"main","index":0}]]},"HTTP Request1 - AI Chef":{"main":[[{"node":"Parse AI Chef Response","type":"main","index":0}]]},"Build AI Chef Request":{"main":[[{"node":"HTTP Request1 - AI Chef","type":"main","index":0}]]},"Parse AI Chef Response":{"main":[[{"node":"Validate Small Recipe","type":"main","index":0}]]},"HTTP Request - AI Meal Planner":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Validate Small Recipe":{"main":[[{"node":"Build Ingredient List","type":"main","index":0}]]},"Build Ingredient List":{"main":[[{"node":"HTTP Request - AI Chef Ingredients","type":"main","index":0}]]},"HTTP Request - AI Chef Ingredients":{"main":[[{"node":"Parse ingredient Output","type":"main","index":0}]]},"Parse ingredient Output":{"main":[[{"node":"Validate Ingredient Output","type":"main","index":0}]]},"Validate Ingredient Output":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTTP Request - AI Chef Ingredients","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"a8817322-8acf-4d19-9a8c-fc23c0f9554e","activeVersionId":null,"versionCounter":361,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-21T03:56:53.758Z","createdAt":"2026-03-21T03:56:53.758Z","role":"workflow:owner","workflowId":"GsI79DuAraz5GXYR","projectId":"NaMaM7GEBfrA8e79","project":{"updatedAt":"2026-03-21T03:55:13.717Z","createdAt":"2026-03-20T13:25:31.057Z","id":"NaMaM7GEBfrA8e79","name":"Eric Lopez <ericlopez07@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"61178320-468a-4c1d-ade4-c24772ec4169"}}],"versionMetadata":{"name":null,"description":null}}]